.root {
    -fx-background-color: linear-gradient(to bottom, #f5f8fa, #dbe6f3);
    -fx-font-family: "Segoe UI", sans-serif;
}

.label{
    -fx-font-size: 20   px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0 20 0;
}



.table-view{
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 3;
}

.table-column{
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 6px;
}

.table-row-cell:filled:selected{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}


.table-row-cell:hover {
    -fx-background-color: #d0eaff;
}

.table-row-cell .text {
    -fx-font-size: 16px;
    -fx-padding: 8px;
}

.table-column-header .label {
    -fx-font-size: 15px;
}

.button-bar{
    -fx-padding: 10;
    -fx-spacing: 10;
}

.button{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 10px;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #2980b9;
}

.button:pressed{
    -fx-background-color: #1f618d;
}

/* Expired row highlight */
.table-row-cell.expired-row {
    -fx-background-color: #FF000040;   /* red with transparency */
}

/* Expiring soon row highlight */
.table-row-cell.soon-expire {
    -fx-background-color: #FFFF0040;   /* yellow with transparency */
}