.root {
    -fx-background-color: linear-gradient(to bottom, #f5f8fa, #dbe6f3);
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-padding: 20;
}

.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0 10 0;
}

.text-field{
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 6 10 6 10;
}

.combo-box{
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bdc3c7;
    -fx-padding: 3 6 3 6;
}

.button bar {
    -fx-padding: 10 0 0 0;
    -fx-spacing: 10;
}

.button{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 5 15 5 15;
    -fx-pref-width: 90px;
}

.button.hover{
    -fx-background-color: #2980b9;
}

.button:pressed{
    -fx-background-color: #1f618d;
}